<div>
    <form ng-submit="onStatusSubmit()">
        <textarea class="span9" placeholder="Current Status" ng-model="status"></textarea>
        <input type="submit" class="btn btn-block btn-info" value="submit" />
    </form>
    <hr />
</div>
<div ng-repeat="post in posts">
    <h4><a href="#/friends/{{post.authorId}}">{{ post.authorName }}</a></h4>
    <p><small>{{ post.regdate.toDate().format() }}</small></p>
    <p>{{ post.status }}</p>
    <div class="well">
        <div ng-repeat="reply in post.replies">
            <h5><a href="#/friends/{{reply.authorId}}">{{reply.authorName}}</a></h5>
            <p>{{ reply.status }}</p>
        </div>
        <input type="text" class="input-block-level" ng-model="post.content" />
        <input type="button" value="Reply" class="btn btn-success" ng-click="onReply(post)" />
    </div>
    <hr />
</div>