<!DOCTYPE html>
<html ng-app>
<head>
    <title>Angular.js</title>
    <link rel="stylesheet" href="bootstrap.css" />
    <script src="angular.js"></script>
    <script>
        function basicController($scope) {
            $scope.title = 'Students List';
            $scope.students = [{
                name: 'insung',
                score: 4.2
            }, {
                name: 'hajin',
                score: 4.5
            }];
        }
    </script>
</head>
<body class="container">
    <div ng-controller="basicController">
        <h1>{{ title }}</h1>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
            <tr ng-repeat="student in students">
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>
                    <input type="number" class="input-small" ng-model="student.score" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>