<!DOCTYPE html>
<html>
<head>
    <title>Underscore.js Basic</title>
    <script src="underscore.js"></script>
    <script type="text/template">
        <h1><%= title %></h1>
        <% items.forEach(function (item, index) { %>
        <p><%= item %></p>
        <% }); %>
    </script>
</head>
<body>
    <script>
        // 글자를 선택합니다.
        var text = document.querySelector("script[type=template]").innerHTML;

        // 템플릿을 생성합니다.
        var template = _.template(text);

        // 템플릿을 컴파일합니다.
        document.body.innerHTML = template({
            title: "RintIanTta",
            items: ["Apple", "Banana", "Cherry"]
        });
    </script>
</body>
</html>